[project]
	description = Welcome repo for ReviewNinja to help you get started. Feel free to delete when you're done, we won't take it personally.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/swiftsmile12
[access "refs/for/refs/*"]
	read = group user/swiftsmile12
	push = group user/swiftsmile12
	label-Code-Review = -2..+2 group user/swiftsmile12
	label-Verified = -1..+1 group user/swiftsmile12
	rebase = group user/swiftsmile12
	removeReviewer = group user/swiftsmile12
	submit = group user/swiftsmile12
[access "refs/heads/*"]
	read = group user/swiftsmile12
	create = group user/swiftsmile12
	push = +force group user/swiftsmile12
	pushMerge = group user/swiftsmile12
[access "refs/tags/*"]
	push = +force group user/swiftsmile12
	pushTag = group user/swiftsmile12
	pushSignedTag = group user/swiftsmile12
